* {
    margin : center;
    padding: center;
    box-sizing: border-box;
}
/* Class Selectors */
.box{
    margin : 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
.countainer {
    width: 800px;
    margin: 0 auto;
}
:root{
    --main-bg-color: #ddd;
    --main-text-color: #000;
    --main-text-font: Arial, Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid black;
    --accent-color: darkblue;
}
main {
    max-width: 840px;
}
aside {
    width : 30rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
aside h2 {
    position: absolute;
    top: 57%;
    left: 350px;
}
aside img {
    width: 300px;
    height: auto;
}
main img {
    max-width: 100px;
    height: auto;
    float: right;
    margin-bottom: 1rem;
}
p {
    padding: 0;
}
footer {
    margin-top: 10rem;
    text-align: center;
    border-top: var(--border);
    background-color: var(--accent-color);

}