*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

main{
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #555;
    color: white;
}
h1{
    margin: .5rem;
}
form{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: black;
}
input,
textarea,
select{
    padding: .75rem;
    width: 350px;
}
button{
    background-color: navy;
    color: white;
    margin: 0 auto;
    padding: 10px;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
}
code{
    display: block;
    background-color: black;
    color: white;

}
.box{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}
.form-item{
    border: none;
}